.verify_container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.verify_container h1 {
	font-size: 40px;
    color: #2a4365;
}

.verify_link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.verify_btn {
	width: 150px;
	background: #1a365d;
	color: #fff;
}

.verify_btn:hover {
	background-color: #97a1b1;
}