.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container h1 {
	font-size: 40px;
    color: #2a4365;
}

/* .green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #3bb19b;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
} */

.green_btn {
	width: 150px;
	background: #1a365d;
	color: #fff;
}

.green_btn:hover {
	background-color: #97a1b1;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}